%a{ href:'/refresh',class:"refresh"}
  <span class="typcn typcn-refresh"></span>

%header#top{class: 'navbar navbar-static-top bs-docs-nav'}
  %div{class: 'container'}
    %div{class: 'navbar-header'}
    %a{href: '/', class:'navbar-brand'} 看板 OmniFocus Kanban
    %nav{class: 'collapse navbar-collapse bs-navbar-collapse', role: 'navigation'}
      %div{class: 'btn-group navbar-right'}
        %button{type: 'button', class: 'btn btn-default navbar-btn'} Personal
        %button{type: 'button', class: 'btn btn-default navbar-btn'} SAP
        %button{type: 'button', class: 'btn btn-default navbar-btn'} HPI

%div{class: 'container'}
  %div#colheader{class: 'row'}
    %div#backburner{class: 'col-md-3'}
      %h5 Backburner (#{@size[:backburner]})
    %div#active{class: 'col-md-6 col-active'}
      %h5 Active (<span class="#{@size[:running] > 5 ? "" : "no"}danger">#{@size[  :running]}</span> | #{@size[:active]}) <span class="glyphicon glyphicon-minus-sign toggle-hanging" style="float:right"></span>
    %div#completed{class: 'col-md-3'}
      %h5 Completed (#{@size[:completed]})
  %div#colcontent{class: 'row'}
    %div#backburner{class: 'col-md-3'}
      =haml :'_kanban', :locals => {array: @projects[:backburner], label: "  backburner"}
    %div#active{class: 'col-md-6 col-active'}
      =haml :'_kanban', :locals => {array: @projects[:active], label: "active"}
      %h2 Active (#{@size[:active]})
    %div#completed{class: 'col-md-3'}
      =haml :'_kanban', :locals => {array: @projects[:completed], label: "  completed"}


